<h3>Add a new Hike</h3>

<%= form_with model: @hike do |form|  %>

  <%= form.label :name %>
  <%= form.text_field :name %>
  <br>
  <%= form.label :hike_distance%>
  <%= form.text_field :hike_distance %>
 <br>
  <%= form.label :difficulty%>
  <%= form.text_field :difficulty %>
<br>
  <%= form.submit 'Add Hike'%>

<% end %>