<h2> Name of the hike is <%= @hike.name %> </h2>

<h3> The length of the hike is <%= @hike.hike_distance %> miles</h3>

<h3> Out of 5 the difficulty rating is <%= @hike.difficulty %></h3>

<%= link_to 'Back to all hikes', hikes_path %>
<%= link_to 'Edit this Hike', edit_hike_path(@hike) %>